@if (User.Identity.IsAuthenticated)
{
  <li class="nav-item dropdown" style="margin-left: 5px; margin-right: 10px;">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Users </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" asp-controller="User" asp-action="List">List</a>
      <a class="dropdown-item" asp-controller="User" asp-action="Search">Search</a>
    </div>
  </li>
}

<li class="nav-item dropdown" style="margin-right: 10px;">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Games </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" asp-controller="Game" asp-action="Search">Search</a>
    @if (User.Identity.IsAuthenticated)
    {
      <a class="dropdown-item" asp-controller="Followlist" asp-action="Get" asp-route-contentType="@ContentType.Game">Followlist</a>
      <a class="dropdown-item" asp-controller="Wishlist" asp-action="Get" asp-route-contentType="@ContentType.Game">Wishlist</a>
      <a class="dropdown-item" asp-controller="CustomList" asp-action="List" asp-route-contentType="@ContentType.Game">Custom Lists</a>
    }
  </div>

<li class="nav-item dropdown"style="margin-right: 10px;">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Movies </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" asp-controller="Movie" asp-action="Search">Search</a>
      @if (User.Identity.IsAuthenticated)
      {
      <a class="dropdown-item" asp-controller="Followlist" asp-action="Get" asp-route-contentType="@ContentType.Movie">Followlist</a>
      <a class="dropdown-item" asp-controller="Wishlist" asp-action="Get" asp-route-contentType="@ContentType.Movie">Wishlist</a>
      <a class="dropdown-item" asp-controller="CustomList" asp-action="List" asp-route-contentType="@ContentType.Movie">Custom Lists</a>
      }
  </div>
</li>